html{
    background-color: rgb(253, 205, 142);
    padding: 0;
}
body{
  margin: 0;
}
#content{
    display: flex;
    width:max-content;
margin-left:30px;
margin-top: 7px;
flex-wrap: wrap;
}

.books{
    margin-right: 40px;

}

.material-icons{
  display: block;
    font-family: 'Material Icons';
    cursor: pointer;
  text-align: end;
  }

#newBook{
    display: flex;
    position:fixed;
    right:0;
    bottom:0;
    width:60px;
    height:60px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    color:white;
    background-color: #532f00;
    font-size: 60px;
border: none;
align-items: center;
 justify-content: center;
}


#addBook{
  width:90px;
  align-self: center;
  margin-top: 10px;
  border-radius: 3px;
  height:40px;
}
#newbookForm{
  border-radius: 10px;
  height:360px;
    visibility: hidden;
    line-height: 40px;
    display: flex;
    background-color: aquamarine;
    position: absolute;
    width:30%;
    min-width: 300px;
    flex-flow: column;
    z-index: 2;
    opacity: 0.96;
    margin:0 auto;
    top: 30%;
    left:30%;
    font-size: 25px;
}

#read{
  align-self: baseline;
}
#header{
  display: flex;
  width:100%;
  height:100px;
  background-color: rgba(139, 90, 0, 0.178);
  margin: 0;
align-items: center;
}
h1{
  margin: 0;
}
#bookimg{
  max-width:100px;
}
#wrap{
  display: flex;
  flex-wrap: wrap;
}
#question{
  font-size: 30px;
  max-width: 200px;
}

#closeForm{
  align-self: flex-end;
  margin-bottom:-40px;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  z-index: 4;
}




@media (max-width:665px){
  #question{
max-width: 400px;  }

.books{
  width:100%;
  text-align: center;
}
#content{
  width:100%;
}
#newBook{
  width:40px;
  height:40px;
  font-size: 40px;
}
#newbookForm{
  left:10%;
}

}

















/*slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
